h3 {
    text-align: center;
}
.base{
    background: #F6DE84;
    margin-top: 5vh;
    border: 3px solid black;
    width: fit-content;
    margin: auto;
}

.maindisplay {
    border: 3px inset;
    background: #598D5C;
    height: 120px;
    width: 80%;
    padding: 9px;
    font-size: 4rem;
    text-align: right;
    font-family: 'Courier', Courier, monospace;
    margin: 30px auto;
}

.subdisplay {
    border-bottom: 1px solid black;
    height: 50%;
    font-size: 2rem;
    overflow: auto;
}

.keypad {
    display:flex;
}

.keys{
    height: 70px;
    width: 100px;
    background: rgb(160, 118, 118);
    color: black;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
}

.keys:hover{
    opacity: 1;
}

.ackey{
    height: 100%;
    color: white;
    background: #CB1919;
}

.equalkey{
    color: white;
    background-color: orangered;
}

.numkey{
    color: #FCFCFC;
    background-color: #9EA57A; 
}

.opkey{
    color: white;
    background-color: #2E2929;
    display: block;
    padding: 9px 15px;
}